<HTML>
	<HEAD>
		<TITLE>About</TITLE>
	</HEAD>
	<BODY>
		<div style="width:960px">
		<p>Harvard and MIT have made data from their first year of Massive Online Open Courses (MOOCs) on the edX.org platform publicly available. They have also provided some interactive charts, which can be accessed <a href="http://harvardx.harvard.edu/harvardx-insights">here</a>. Even though the maps are informative, there are other questions that crop up while exploring the data.</p>
		<p>In this work, we visualize the data so that researchers can get a deeper insight into the data. More specifically, we visualize the following key details:
		<ul>
			<li>All MOOC courses offer tutorials in the form of chapters and videos. Participants can contribute posts in the forum as well. These activites vary across countries. Using a choropleth we show how these events vary across countries for candidates who didnt get certified</li>
			<li>For the above mentioned set of activities, there might be a correlation between the activities. We explore how the correlation varies across different demographics using a scatter plot</li>
			<li>Finally, it will be interesting to understand how certification and grades vary across demographics. Using a box plot, we see the variation of grade across demographics. Using a bar chart we see how many percent candidates in a category got certified and using a doughnut chart we vizualize the breakdown of candidates across different demographics</li>
		</ul>
		</p>
		<p>
			Through the visualizations, we hope to allow researchers gain finer insights about MOOC data and this can lead to future course of research in directions such as :
			<ul>
				<li>Does  watching videos and reading chapters affect certification and is it uniform across different demographic sub categories.</li>
				<li>Does higher education indicate better possibility of certification?</li>
				<li>...</li>
			</ul>
		</p>

		</div>
	</BODY>
</HTML>